/* ============================================================
   TODAS AS PAGS    
============================================================ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fffffe;
    font-family: "Delius", cursive;
    font-size: large;
    color: #272343;
}

/*menu*/
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    gap: 100px;
    background-color: #272343;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 1000;
}

#logo {
    height: 70px;
    width: 70px;
    background-color: #781d1d;
    margin-left: 150px;
}

nav {
    display: flex;
    align-items: center;
    gap: 70px;
}

nav a {
    position: relative;
    color: #fffffe;
    text-decoration: none;
    padding: 5px;
}

nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    width: 0;
    background-color: #ffd803;
    transition: width 0.3s ease;
}

nav a:hover::after,
nav a.active::after {
    width: 100%;
}

/*rodape*/
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    grid-column: 1 / 5;
    background-color: #272343;
    color: white;
    text-align: center;
    padding: 10px 0;
    height: 40px;
}

/* ============================================================
   INDEX
============================================================ */

#index main {
    display: block;
    padding: 20px;
    margin: 10px;
    align-items: start;
}

h1 {
    margin: 5%;
    text-align: center;
}

#bloco {
    display: flex;
    justify-content: center;
    gap: 10%;
}

/*cards*/
#card1 {
    background: url(../assets/img/campo.jpg) no-repeat center center/cover;
    padding: 20px;
    margin-bottom: 20%;
}

#card2 {
    background: url(../assets/img/praia.jpg) no-repeat center center/cover;
    padding: 20px;
    margin: 20% 0 10% 0;
}

#index .card {
    position: relative;
    width: 400px;
    height: 280px;
    border-radius: 14px;
    overflow: hidden;
    cursor: pointer;
    display: block;
    text-decoration: none;
    justify-self: center;
}

#index .card .img {
    width: 100%;
    height: 100%;
    background-image: url("sua-imagem.jpg");
    background-size: cover;
    background-position: center;
    filter: grayscale(1);
    transition: filter 0.2s ease-in-out, scale 0.2s ease-in-out;
}

#index .card:hover .img {
    filter: grayscale(0);
    scale: 1.03;
}

#index .card .overlay {
    position: absolute;
    inset: 0;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}

#index .card:hover .overlay {
    background: rgba(0, 0, 0, 0.50);
}


#index .card .titulo {
    font-family: "Modak", system-ui;
    font-weight: 400;
    font-style: normal;
    position: absolute;
    bottom: 15px;
    left: 20px;
    margin: 0;
    color: #bae8e8;
    font-size: 28px;
    z-index: 3;
    pointer-events: none;
}

#index .card:hover .titulo {
    bottom: 60px;
}

#index .card .descricao {
    font-family: "Delius", cursive;
    font-weight: 400;
    font-style: normal;
    position: absolute;
    bottom: 15px;
    left: 20px;
    max-width: 75%;
    opacity: 0;
    transform: translateY(10px);
    color: #bae8e8;
    font-size: 16px;
    transition: opacity 0.25s ease-out, transform 0.25s ease-out;
    z-index: 3;
    pointer-events: none;
}

#index .card:hover .descricao {
    opacity: 1;
    transform: translateY(0);
}

/*aside*/
#index aside {
    padding: 20px;
    width: 400px;
    border-radius: 15px;
    box-shadow:
        inset 10px 10px 50px #ffd9033b,
        10px 10px 8px #8471033c;
    margin-bottom: 10%;
}

#index aside h3,
#index aside ul {
    margin-left: 20px;
}

/* ============================================================
   DESTINOS
============================================================ */
#main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#destinos #bloco {
    display: block;
    grid-column: 1 / 2;
    margin: 20%;
}

#destinos h2 {
    text-align: center;
    margin-bottom: 5%;
}

#categoria {
    grid-column: 2 / 3;
    margin: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#itens {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.sombra {
    width: 90%;
    height: 45px;
    color: #272343;
    background: #84710350;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.item {
    text-decoration: none;
    width: 100%;
    height: 45px;
    color: #272343;
    background: #fee970;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-8px) translateX(-4px);
}

.item:hover {
    background: #f8d92d;
    cursor: pointer;
    transform: translateY(0) translateX(0);
}

/* ----- MODAL DO CARROSSEL ----- */
#carrossel {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.55);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

#carrossel.hidden {
    display: none;
}

.carrossel-content {
    position: relative;
    width: 70%;
    height: 70%;
    background: white;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Botões */
#fecharCarrossel {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background: transparent;
    font-size: 25px;
    cursor: pointer;
}

.nav-btn {
    background: transparent;
    border: none;
    font-size: 50px;
    cursor: pointer;
    padding: 10px;
    color: #333;
}

#prevSlide {
    position: absolute;
    left: 20px;
}

#nextSlide {
    position: absolute;
    right: 20px;
}

/* Área do slide */
#slides {
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    text-align: center;
}

/* ============================================================
   PERSONALIDADES
============================================================ */

#personalidades #main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

#personalidades h1 {
    grid-column: 1 / 3;
    grid-row: 1;
    text-align: center;
    margin-top: 8%;
}

.card p {
    font-size: larger;
}

#personalidades .card {
    height: 80%;
    width: 70%;
    display: flex;
    background-color: #e9fbfbc4;
    place-items: center;
    place-content: center;
    border-radius: 15px;
    box-shadow: 6px 8px 5px rgba(163, 208, 208, 0.5);
    margin-bottom: 20px;
}

#bloco1 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    place-items: center;
    place-content: center;
}

#bloco2 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    place-items: center;
    place-content: center;
}

#bloco3 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    place-items: center;
    place-content: center;
}

#bloco4 {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    place-items: center;
    place-content: center;
}

#bloco5 {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    place-items: center;
    place-content: center;
}

#bloco6 {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    place-items: center;
    place-content: center;
}

.personagem {
    width: 26%;
    height: 70%;
    margin: 20px;
    border-radius: 100px;
    background: black;
}

.personagem:hover {
    transform: scale(1.5);
    transition: transform 0.3s ease;
    cursor: pointer;
    margin-right: 10%;
}

#espaco {
    height: 50px;
}

#slide {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.55);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

#conteudo {
    position: relative;
    width: 70%;
    height: 70%;
    background: white;
    border-radius: 15px;
    overflow: hidden;
    padding: 20px;
}

#fechar {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background: transparent;
    font-size: 25px;
    cursor: pointer;
}
