 * {
     margin: 0;
     padding: 0;
 }

 #container {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-template-rows: 2fr repeat(2, 7.7fr) 1fr;
 }

 header {
     grid-column: 1 / 5;
     grid-row: 1;
     background-color: #4CAF50;
 }

 main {
     display: grid;
     grid-template-columns: repeat(2, 1fr) 1.5fr;
     grid-template-rows: repeat(2, 1fr);
     gap: 10px;
     grid-column: 1 / 5;
     grid-row: 2 / 4;
     background-color: #e0e0e0;
     padding: 20px;
     border: 1px solid #ccc;
 }

 #card1 {
     grid-column: 1 / 3;
     grid-row: 1;
     background-color: #f2f2f2;
     padding: 20px;
     border: 1px solid #ccc;
 }

 #card2 {
     grid-column: 1 / 3;
     grid-row: 2;
     background-color: #781d1d;
     padding: 20px;
     border: 1px solid #ccc;
 }

 aside {
     grid-column: 3 / 5;
     grid-row: 1 / 4;
     background-color: #f9f9f9;
     padding: 20px;
     border: 1px solid #ccc;
 }

 footer {
     grid-column: 1 / 5;
     background-color: #333;
     color: white;
     text-align: center;
     padding: 10px 0;
     position: relative;
     bottom: 0;
     height: 20px;
 }