/* ============================================================
   TODAS AS PAGS    
============================================================ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fffffe;
    font-family: "Delius", cursive;
    font-size: large;
    color: #272343;
}

/*menu*/
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    gap: 10%;
    background-color: #272343;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 1000;
}

#logo {
    height: 70px;
    width: 70px;
    background-color: #781d1d;
    margin-left: 10%;
}

nav {
    display: flex;
    align-items: center;
    gap: 70px;
}

nav a {
    position: relative;
    color: #fffffe;
    text-decoration: none;
    padding: 5px;
}

nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    width: 0;
    background-color: #ffd803;
    transition: width 0.3s ease;
}

nav a:hover::after,
nav a.active::after {
    width: 100%;
}

/*rodape*/
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    grid-column: 1 / 5;
    background-color: #272343;
    color: white;
    text-align: center;
    padding: 10px 0;
    height: 40px;
}

/* ============================================================
   INDEX
============================================================ */

#index #main {
    background-color: #fbf4ca;
}

#index h1 {
    font-family: "Modak", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 195%;
    margin: 5%;
    text-align: justify;
    transform: translateY(40px);
}

#index #bloco {
    display: flex;
    justify-content: center;
    gap: 10%;
}

/*cards*/
#card1 {
    background: url(../assets/img/praia.jpg) no-repeat center center/cover;
    padding: 20px;
    margin-bottom: 20%;
}

#card2 {
    background: url(../assets/img/campo.jpg) no-repeat center center/cover;
    padding: 20px;
    margin: 20% 0 10% 0;
}

#index .card {
    position: relative;
    width: 600px;
    height: 280px;
    border-radius: 14px;
    overflow: hidden;
    cursor: pointer;
    display: block;
    text-decoration: none;
    justify-self: center;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

#index .card .img {
    width: 100%;
    height: 100%;
    filter: grayscale(1);
    transition: filter 0.2s ease-in-out, scale 0.2s ease-in-out;
}

#index .card:hover .img {
    filter: grayscale(0);
    scale: 1.03;
}

#index .card .overlay {
    position: absolute;
    inset: 0;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}

#index .card:hover .overlay {
    background: rgba(0, 0, 0, 0.50);
}


#index .card .titulo {
    font-family: "Modak", system-ui;
    font-weight: 400;
    font-style: normal;
    position: absolute;
    bottom: 15px;
    left: 20px;
    margin: 0;
    color: #bae8e8;
    font-size: 28px;
    z-index: 3;
    pointer-events: none;
}

#index .card:hover .titulo {
    bottom: 120px;
}

#index .card .descricao {
    font-family: "Delius", cursive;
    font-weight: 400;
    font-style: normal;
    position: absolute;
    bottom: 15px;
    left: 20px;
    max-width: 75%;
    opacity: 0;
    transform: translateY(10px);
    color: #bae8e8;
    font-size: 16px;
    transition: opacity 0.25s ease-out, transform 0.25s ease-out;
    z-index: 3;
    pointer-events: none;
}

#index .card:hover .descricao {
    opacity: 1;
    transform: translateY(0);
}

/*aside*/
#index aside {
    gap: 50%;
    padding: 20px;
    width: 35%;
    border-radius: 15px;
    box-shadow: 10px 10px 8px #0465653e;
    margin-bottom: 10%;
    background-color: #e7ffffbb;
}

#index ul {
    margin-top: 10%;
    margin-left: 30px;
}

#index #ultima {
    margin-bottom: 15%;
}

/* ============================================================
   DESTINOS
============================================================ */

#destinos #main {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(2, 1fr);
    background-color: #fbf4ca;
}

#destinos #bloco {
    display: block;
    grid-column: 1 / 2;
    margin: 20% 10%;
}

#destinos h1,
#destinos h2 {
    font-family: "Modak", system-ui;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

#destinos h2 {
    margin-bottom: 4%;
}

#categoria {
    grid-column: 2 / 3;
    margin: 20% 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#itens {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: larger;
}

.sombra {
    width: 90%;
    height: 45px;
    color: #272343;
    background: #84710350;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;

}

.item {
    text-decoration: none;
    width: 100%;
    height: 45px;
    color: #272343;
    background: #fee970;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-8px) translateX(-4px);

}

.item:hover {
    background: #f8d92d;
    cursor: pointer;
    transform: translateY(0) translateX(0);
}

/* ----- MODAL DO CARROSSEL ----- */
#carrossel {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.55);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

#carrossel.hidden {
    display: none;
}

.carrossel-content {
    position: relative;
    width: 70%;
    height: 70%;
    background: white;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Botões */
#fecharCarrossel {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 25px;
    cursor: pointer;
    z-index: 1;
    border-radius: 50px;
    border: none;
    filter: brightness(0) invert(1);
}

.nav-btn {
    background: transparent;
    border: none;
    font-size: 50px;
    cursor: pointer;
    padding: 10px;
    color: #ffffff;
}

#prevSlide {
    position: absolute;
    left: 20px;
    z-index: 1;
}

#nextSlide {
    position: absolute;
    right: 20px;
    z-index: 1;
}

/* Área do slide */
#slides {
    width: 100%;
    height: 100%;
    display: flex;
    font-size: 22px;
}

#destinos .slide {
    width: 100%;
    height: 100%;
    display: none;
}

#destinos .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    z-index: 0;
    transform: translateY(-77.5px);
}


#destinos .slide p {
    font-size: 20px;
    width: 80%;
    transform: translateX(80px);
    color: white;
    text-shadow: 0 0 5px black;
}

.vidro {
    position: relative;
    width: 80%;
    padding: 1%;
    background: transparent;
    backdrop-filter: blur(10px);
    border-radius: 15px;
    transform: translateX(110px) translateY(400px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* ============================================================
   PERSONALIDADES
============================================================ */

#personalidades #main {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    background-color: #fbf4ca;


}

#personalidades h1 {
    grid-column: 1 / 3;
    grid-row: 1;
    text-align: center;
    margin-top: 8%;
}

#personalidades .card p {
    font-size: larger;
}

#personalidades .card {
    height: 90%;
    width: 60%;
    display: flex;
    background-color: #e9fbfbc4;
    place-items: center;
    place-content: center;
    border-radius: 15px;
    box-shadow: 6px 8px 5px rgba(163, 208, 208, 0.5);

}

#personalidades #bloco1 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    place-items: center;
    place-content: center;
}

#personalidades #bloco1 .personagem {
    background: url(../assets/img/aventureiro.png) no-repeat center/cover;
}

#personalidades #bloco2 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    place-items: center;
    place-content: center;
}

#personalidades #bloco2 .personagem {
    background: url(../assets/img/relaxado.png) no-repeat center/cover;
}

#personalidades #bloco3 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    place-items: center;
    place-content: center;
}

#personalidades #bloco3 .personagem {
    background: url(../assets/img/cultural.png) no-repeat center/cover;
}

#personalidades #bloco4 {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    place-items: center;
    place-content: center;
}

#personalidades #bloco4 .personagem {
    background: url(../assets/img/urbano.png) no-repeat center/cover;
}

#personalidades #bloco5 {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    place-items: center;
    place-content: center;
}

#personalidades #bloco5 .personagem {
    background: url(../assets/img/avntureiro.png) no-repeat center/cover black;
}

#personalidades #bloco6 {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    place-items: center;
    place-content: center;
}

#personalidades #bloco6 .personagem {
    background: url(../assets/img/criativo.png) no-repeat center/cover;
}

#personalidades .personagem {
    width: 26%;
    height: 70%;
    margin: 20px;
    border-radius: 100px;
}

#personalidades .personagem:hover {
    transform: scale(1.5);
    transition: transform 0.3s ease;
    cursor: pointer;
    margin-right: 10%;
}

#personalidades #espaco {
    height: 50px;
    background-color: #fbf4ca;
}

#personalidades #slide {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.55);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

#personalidades #conteudo {
    position: relative;
    width: 70%;
    height: 70%;
    background: #e4fafa;
    border-radius: 15px;
    overflow: hidden;
    padding: 20px;
}

#personalidades #fechar {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background: transparent;
    font-size: 25px;
    cursor: pointer;
    filter: brightness(0) invert(0);
}

/* Layout interno do slide */
#personalidades .cardPerfil {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 20px;
    height: 100%;
}

/* Imagem dentro do slide */
#personalidades .cardPerfil .fotoPersonagem {
    width: 35%;
    height: 80%;
    object-fit: contain;
    border-radius: 15px;
}

/* Texto interno */
#personalidades .cardPerfil p {
    font-size: 20px;
    line-height: 1.5;
    text-align: justify;
    width: 60%;
}

#personalidades h3 {
    font-family: "Modak", system-ui;
    font-weight: 400;
    font-size: xx-large;
}


/* ============================================================
   ORGANIZAÇÃO
============================================================ */

#organizacao #main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #fbf4ca;
}

#organizacao #bloco {
    display: block;
    margin: 20% 5% 5% 20%;
    grid-row: 1;
    grid-column: 1 / 2;
    text-align: justify;
}

#organizacao #bloco2 {
    grid-column: 2 / 3;
    grid-row: 1;
    margin: 25% 10% 5% 5%;
}

#organizacao h1 {
    font-family: "Modak", system-ui;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin-bottom: 5%;
}

#organizacao .categoria {
    padding: 5%;
}

#organizacao .categoria:hover {
    cursor: pointer;
}

#organizacao .btn-one {
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.3s;
    position: relative;
    display: inline-flex;
    justify-content: center;
    width: 100%;
}

#organizacao .btn-one span {
    transition: all 0.3s;
    transform: translateY(-10px);
}

#organizacao .btn-one::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-top: 1px solid rgba(31, 20, 99, 0.5);
    border-bottom: 1px solid rgba(31, 20, 99, 0.5);
    transform: scale(0.1, 1);
    padding: 10px;
}

#organizacao .btn-one:hover span {
    letter-spacing: 2px;
}

#organizacao .btn-one:hover::before {
    opacity: 1;
    transform: scale(1, 1);

}

#organizacao .btn-one::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s;
    padding: 10px;
    background-color: rgba(34, 0, 255, 0.1);
}

#organizacao .btn-one:hover::after {
    opacity: 0;
    transform: scale(0.1, 1);
}

/* Fundo escurecido */
#carrosselOrg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

/* Card branco */
#organizacao #carrosselOrg-conteudo {
    position: relative;
    background: #dbf4f4;
    width: 80%;
    height: 80%;
    border-radius: 20px;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

/* Botão X */
#organizacao #fecharCarrosselOrg {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    filter: brightness(0) invert(0);
}

#organizacao .hidden {
    display: none;
}

#organizacao .textoCard {
    margin-left: 2%;
    width: 50%;
    text-align: justify;
    transform: translateY(60px);

}

#organizacao img {
    width: 40%;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

#organizacao .cards {
    display: flex;
    gap: 5%;
}

/* ============================================================
   VÍDEOS
============================================================ */

#videos section {
    width: 100%;
    height: 110vh;
    margin: 0 auto;
    padding: 80px 20px;
    text-align: center;
    background-color: #dbf8f87c;
}

#videos .textoPrincipal {
    margin: 15% 10% 10% 10%;
}

#videos h1,
#videos h2 {
    font-family: "Modak", system-ui;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin-top: 5%;
}

#videos section>p {
    margin: 10px auto;
    max-width: 800px;
    align-items: center;
    text-align: justify;
}

#videos h2 {
    margin-top: 3%;
    text-align: start;
}

#videos .texto>p {
    font-weight: 700;
    margin: 5px auto;
    max-width: 600px;
    align-items: center;
    text-align: justify;
    font-size: x-large;
}

.impar {

    justify-content: center;
    display: flex;
    padding: 8%;
    gap: 4%;
    animation: aparecer-impar ease-in-out;
    animation-timeline: view();
    animation-range: cover 0 cover 40%;
}

.par {
    background-color: #dbf8f87c;
    justify-content: center;
    display: flex;
    padding: 5%;
    gap: 2%;
    color: #fbe567;
    -webkit-text-stroke: 0.5px #272343;
    animation: aparecer-par ease-in-out;
    animation-timeline: view();
    animation-range: cover 0 cover 40%;
}

.texto>a {
    -webkit-text-stroke: 0;
    color: #3e27d1;
}

@keyframes aparecer-impar {
    from {
        opacity: 0;
        transform: translateX(500px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes aparecer-par {
    from {
        opacity: 0;
        transform: translateX(-500px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* ============================================================
   CONTATO
============================================================ */

#contato {
    font-family: Arial, sans-serif;
    background: url(../assets/img/praia.jpg) no-repeat center center/cover;
    padding: 20px;
    margin-top: 8%;
}

form {
    backdrop-filter: blur(10px);
    max-width: 500px;
    background: transparent;
    padding: 20px;
    border-radius: 12px;
    margin: auto;
    box-shadow: 0 9px 8px rgba(0, 0, 0, 0.4);
}

label {
    color: #272343;
    font-weight: bold;
    margin-top: 10px;
    display: block;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    margin-top: 5px;
}

.botoes {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button[type="submit"] {
    background: #3e8e41;
    color: white;
}

button[type="reset"] {
    background: #d9534f;
    color: white;
}

.form1,
.form2 {
    position: relative;
}

.form1 label {
    position: absolute;
    padding: 0% 10px;
    top: 70%;
    left: 1em;
    transform: translateY(-130%) translateX(-12px);
    color: #272343;
    pointer-events: none;
    transition: 0.3s;
}

.form2 label {
    position: absolute;
    padding: 0% 5px;
    top: 0%;
    left: 1em;
    transform: translateY(-130%) translateX(-12px);
    color: #272343;
    pointer-events: none;
    background: transparent;
}

.form1 input,
.form2 textarea {
    height: 50px;
    width: 100%;
    padding: 0.3rem 1rem;
    outline: none;
    border: 1px solid #272343;
    border-radius: 15px;
    background: transparent;
    color: #272343;
}

input:focus~label,
input:valid~label {
    top: 0;
    font-size: 0.7rem;
    background: transparent;
}

#contato p {
    margin-bottom: 10%;
}

#primeiro {
    margin-top: 2%;
}

/*=======================================================================
        PROCESSA
=======================================================================*/

#processa {
    margin: 0;
    padding: 0;
    background: #fbf4ca;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

#processa .container {
    text-align: center;
}

#processa h2 {
    font-size: 22px;
    color: #272343;
    margin-top: 20px;
    animation: fadeIn 1s ease forwards;
}

#processa .loader {
    width: 55px;
    height: 55px;
    border: 6px solid #ddd;
    border-top-color: #272343;
    border-radius: 50%;
    margin-left: 30%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}